.font{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: 600;
    font-display: auto;
    font-style: italic;
}
.text{
    color: rgb(43, 10, 75);
    text-decoration: underline;
    text-indent: 2%;
    text-shadow: 5px;
    text-align:center;
    white-space: nowrap;
    word-spacing: 10px;
}
.font2{
    text-transform: capitalize;
    letter-spacing: 2px;
}
.font3{
    text-transform: lowercase;
    line-height: 2px;
}